*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
#loader{
  display: flex;
  justify-content: center;
  margin: 15% auto;
}

@media only screen and (max-device-width: 480px) {
  html{
    background-color: rgb(240,240,255);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 }
 @media only screen and (min-device-width: 481px) {
   html{

   }
  }
@keyframes dash {
  from {
    fill: white;
  }

  to {
    stroke-dashoffset: 0;
    animation-fill-mode: backwards;
    fill: #1261A0
  }
}

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 3s linear forwards;

}

/* animated card */
.animatedCard {
  width: 45ch;
  height: 45ch;
  background: grey;
  border-radius: 5px;

  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
  display: inline-flex;
  justify-content: center;
}

.animatedCard:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.particlesBg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

}


@media screen and (min-width: 320px) {

  p {
    font-size: calc(13px + 6 * ((100vw - 320px) / 680));
    font-family: Gill Sans, sans-serif;
    color:#D5DEF6
  }
  h1{
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color:black

  }
}
@media screen and (min-width: 1000px) {

  p {
    font-size: 20px;
    font-family: Europa, sans-serif;
    color:black;
    font-weight: 300
  }
  h1{
    font-size: 29px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color:#1261A0
  }
}


#formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 auto;

}
#formDiv{
  display: flex;
  justify-content: center;
  margin:0 auto;


}
.circle1,
.circle2 {
  z-index: -1;
  background:  linear-gradient(to top, #30cfd0 0%, #330867 100%);

  height: 20rem;
  width: 20rem;
  position: relative;
  border-radius: 50%;
}
.circle1 {
  top:150vh;
  right:5vw;
}

.circle2 {
  top:90%;
  right:80%;
}
